.plot-section {
    display: none;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.plot-button {
    display: block;
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border-color: transparent;
}

.movie-info {
  padding: 20px;
  width: 300px;
  height: 450px;
  background-size: cover;
  background-position: center;
}

.search-box {
    padding: 7px;
    width: 300px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid rgba(48, 48, 48, 0.8);
}

.case-box {
    padding: 20px;
}

.movie-title {
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.534); /* gives depth */
    background: rgba(0, 0, 0, 0.75);
    padding: 8px 12px;
    margin: 6px;
    border-radius: 6px;
    backdrop-filter: blur(4px);
}

.buttons {
    background: #00b4d8;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}

.buttons:hover {
    background: #0096c7;
    transform: translateY(-2px);
}